    <main role="main">

      <div id="main">

        <section class="row section text-light" style="background-color:#4FCEAD;">
          <div class="row-content buffer even clear-after" style ="padding-top:0px;padding-bottom:0px">
            <div class="slogan animation">
              <h2>ESTASS</h2> 
              <p>ESTASSへようこそ。６月中旬よりサービスを開始します。<br>無料会員登録はこちらからのページから。</p>           
            </div><!-- slogan -->       
          </div>
        </section>  


        <section class="row section " >
          <div class="row-content buffer even clear-after"> 
            <div class = "column five">
              <h3 style = "margin-top:0px;">Facebookから登録</h3>
              <p>Facebook認証を行うと、より簡単に登録することができます。</p>
              <%= link_to "登録する",user_omniauth_authorize_path(:facebook), :class=>"button blue" %>
            </div>
            <div class="column one">
            </div>
            <div class="column six last">
              <h3 style = "margin-top:0px">メールアドレスから登録</h3>

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: false ,:placeholder => "メールアドレス"%>
              </div>

              <div class="field">
                <%= f.label :password %>
                <% if @validatable %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "off" ,:placeholder => "パスワード"%>
              </div>

              <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off"  ,:placeholder => "パスワードの確認"%>
              </div>

              <div class="actions">
                <%= f.submit "登録する",:class => "button red" %>
              </div>
              <% end %>


            </div>

          </div>  
        </section>  

      </div><!-- id-main -->
    </main><!-- main -->

    <footer role="contentinfo">
      <div class="row">
        <div class="row-content buffer clear-after">
          <section id="bottom-footer">
            <p class="keep-left"> </p>
            <p class="keep-right">&copy; 2015 <a href="http://www.kipri.co.jp/" alt="Kipri Co., Ltd.">Kipri Co., Ltd.</a>All Rights Reserved.</p>
          </section><!-- bottom-footer -->      
        </div><!-- row-content -->  
      </div><!-- row -->  
    </footer>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>    
    <script src="/js/plugins.js"></script>
    <script src="/js/beetle.js"></script>



